.step-title {
    font-family: Roboto;
    font-size: 16px;
    color: #646464;
    font-size: 16px;
    line-height: 22.4px;
    margin: 0px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 343px;
    max-width: 1280px;

    padding-left: 10px;
    padding-right: 10px;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: azure;
  }
  .instruction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    max-width: 343px;
  }
  .title {
    display: none;
  }
  .titles {
    height: 60px;
  }
  .title-show {
    display: block;
    font-size: 27px;
    font-weight: 700px;
    font-family: Roboto;
    color: #d02d37;
  }
  .bars {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 343px;
    height: 20px;
  }
  .bar {
    transition-duration: 0.5s;
    background-color: #fbced1;
    width: 79.25px;
    height: 4px;
    border: none;
    border-radius: 20px;
  }
  .completed {
    background-color: #d02d37;
  }
  .barButton {
    border: transparent;
    background-color: transparent;
    height: 25px;
    padding: 3px;
  }
  .instruction {
    display: none;
    justify-content: start;
    align-items: start;
    min-width: 343px;
    max-width: 1280px;

    transition-duration: 0.5s;
  }
  .instruction-text {
    display: flex;
    text-align: left;
    font-size: 16px;
    line-height: 22.4px;
    font-family: Roboto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-image {
    display: block;
    width: 100%;
    height: auto;
  }
  .desktop-image {
    display: none;
  }
  .show {
    display: flex;
    flex-direction: column;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 343px;
    height: 43px;

    margin-top: 40px;
  }
  .button-back {
    border: none;
    background-color: transparent;
    color: #d02d37;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;

    line-height: 19.2px;
  }
  .button-next {
    width: 167.5px;
    height: 43;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border: none;
    border-radius: 8px 8px 8px 8px;
    opacity: 0px;
    background-color: #d02d37;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700px;
    line-height: 22.4px;
    color: #ffffff;
  }
  .button-back:hover {
    color: #ef3a46;
  }
  .button-next:hover {
    background-color: #ef3a46;
  }
  .hide-img{
      display: none;
    }
  @media (min-width: 1024px) {
    main {
      padding-left: 40px;
      padding-top: 20px;
    }
    .mobile-image {
      display: none;
    }
    .desktop-image {
      display: block;
      width: 1000px;
    }
    .buttons {
      width: 343px;
      height: 43px;
      margin-left: 0px;
    }
    .info {
      padding: 0px;
    }
    .instruction {
      margin-bottom: 20px;
    }
    .instruction-text {
      padding: 0px;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 343px;
      height: 43px;
      left: 20px;
      margin-top: 10px;
    }
    .hide-img{
      display: none;
    }
  }